<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LunaDeMiel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="headerMenuTemp navbar-fixed-top">
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>はちみつ</p>
        </div>
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>養蜂家</p>
        </div>
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>食べ合わせ</p>
        </div>
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>健康食品</p>
        </div>
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>基礎知識</p>
        </div>
        <div class="headerMenuCellTemp" onclick="return false;">
            <p>ギフト</p>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
